<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Planningen</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
  <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
  <div class="text-left">
    <h1>Lijst van planningen</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">status</th>
        <th scope="col">datum_id</th>
        <th scope="col">ambassadeur_id</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="planning : ${planningen}">
        <th scope="row" th:text="${planning.id}"></th>
        <td th:text="${planning.status}"></td>
        <td th:text="${planning.datum_id}"></td>
        <td th:text="${planning.ambassadeur_id}"></td>
        <td><a th:href="@{/detailPlanning.html(id=${planning.id})}" class="btn btn-info" role="button">Detail</a></td>
      </tr>
      </tbody>
    </table>
    <a class="btn btn-success btn-block" role="button" th:href="@{/nieuwePlanning.html}">Nieuwe planning</a>
  </div><br/><br/>
  <div th:replace="~{fragments/footer :: footer}">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>